.profile {
  color: #000000;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  }
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-section {
    color: #000000;
    margin-bottom: 20px;
  }
  
  .profile-component {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-color: #B1B1B1;
    margin-bottom: 100px;
    width: 35vw;
  }
  
  .profile-section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profile-section input {
    border-radius: 10px;
    height: 2.5vh;
    background-color: #FCF6F6;
    border-style: solid;
    border-width: thin;
    border-color: #B1B1B1;
    margin-top: 5px;
    padding-left: 10px;
    width: 100%;  
  }
  
  .profile-section input::placeholder{
    color: #B8B8B8;
  }
  
  .profile-component button {
    border: none;
    padding: 8px 20px;
    align-self: flex-end;
    width: 40%;
    margin-top: 20px;
    margin-left: 60%;
    border-radius: 10px;
    background-color: #9b9b9b;
    color: #fff;
  }
  
  .profile-deletion-component {
    padding: 20px;
    margin-bottom: 10%;
    width: 35vw;
    border-radius: 10px;
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-color: #B1B1B1;
  }
  
  .profile-deletion-component button {
    border: none;
    padding: 8px 20px;
    align-self: flex-end;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #9b9b9b;
    color: #fff;
  }